* {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    /* margin-bottom: 1rem; */
    font-size: 2rem;
    font-family: serif;
    margin-top: 3rem;
}

body {
    height: 100vh;
    background-color: #A3B18A;
}

.box {
    height: 80%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */

}

.container {
    height: 450px;
    width: 300px;
    /* border: 2px solid black; */
    box-shadow: 10px 10px 5px 0.2px black;
}

button {
    box-shadow: 5px 5px 5px 2px black;
    border-radius: 10px;
    height: 65px;
    width: 65px;
    padding: 5px 5px;
    margin: 3px 3px 3px 3px;
    cursor: pointer;
    background-color: #3A5A40;
    color: #DAD7CD;
    font-size: large;
}

.result {
    height: 10vh;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    min-height: 8vh;
    width: 280px;
    box-shadow: 2px 2px 2px 2px black;
    outline: none;
    border: none;
}
.result-value{
    font-size: 2rem;
    padding: 2px 5px 5px 5px;
    background-color: #588157;
    color: #DAD7CD;
    
}